<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.codingbamboo.finalproject.user.dto.UserDTO" alias="UserDTO"/>
		<typeAlias type="com.codingbamboo.finalproject.carboncalculate.dto.CarbonCalculateDTO" alias="CarbonCalculateDTO"/>
		<typeAlias type="com.codingbamboo.finalproject.suggestions.dto.AdminSuggestionsDTO" alias="AdminSuggestionsDTO"/>
		<typeAlias type="com.codingbamboo.finalproject.building.dto.BuildingDTO" alias="BuildingDTO" />
		<typeAlias type="com.codingbamboo.finalproject.building.dto.BEUDTO" alias="BEUDTO" />
		<typeAlias type="com.codingbamboo.finalproject.solarradiation.dto.SolarRadiationDTO" alias="SolarRadiationDTO" />
	</typeAliases>
</configuration>